*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "VT323", monospace;
}
body{
    height: 100vh;
}
#interface{
    width: 100%;
    height: 100%;
    background-image: url("images/snake2.jpg");
    background-position: center;
    background-size: contain;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#interface h2{
    color: beige;
    margin-bottom: 5px;
}
.button-interface{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-interface button{
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 30px;
    letter-spacing: 2;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
}
.game-container{
    width: 600px;
    max-width: 95%;
    height: 600px;
    max-height: 95%;
    border-radius: 20px;
    background-color: rgb(42, 66, 53);
    display: none;
    border: 3px solid #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-container .game-board{
    width: 95%;
    height: 90%;
    background-color: beige;
    border: 3px solid #000;
    display: grid;
    grid-template-columns: repeat(20 , calc(100%/20));
    grid-template-rows: repeat(20 , calc(100%/20));
}
.snake{
    background-color: rgb(42, 66, 53);
    border: 3px solid #000;
}

.food{
    height: 70%;
    background-color: rgb(177, 181, 106); 
    border-radius: 50%;
}
@media screen and (max-width:850px) {
    #interface{
        background-size: cover;
    }
}